body {
    background-color: #F5F5F5; 
    color: #333333; 
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    color: #003366; 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #008080; 
    text-decoration: none;
}

a:hover {
    color: #00BFFF; 
}

table, th, td {
    border: 1px solid #000000; 
}

.evenrow {
    background-color: #D3D3D3; 
}

nav {
    background-color: #2E2E2E; 
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #D3D3D3; 
    padding: 5px 10px; 
    display: inline-block; 
}

nav a:hover, nav a.current-page {
    background-color: #00BFFF; 
    color: #FFFFFF; 
}

.footer-links {
    background-color: #007BFF; 
    text-align: center;
    padding: 10px 0;
}

.footer-links a {
    color: #333333;
    text-decoration: none; 
    padding: 0 10px;
}

.footer-links a:not(:last-child) {
    border-right: 1px solid #000000; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.quote {
    float: right;
    margin-left: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 0 10px;
}

form, iframe {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

iframe {
    height: 450px;
}

input[type="text"], input[type="email"], input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.skills-row {
    display: flex;
    justify-content: space-around;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.skills-row {
    display: flex;
    justify-content: space-around;
    flex: 3;
    margin-right: 20px; 
}

.other-skills {
    flex: 1;
    background-color: #f0f0f0; 
    color: #333;
    padding: 10px;
    border-radius: 10px; 
}

.skills-row div, .other-skills h2 {
    margin-bottom: 20px; 
}

.footer-links {
    margin-top: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1; 
    min-width: 290px; 
}

iframe {
    max-width: 100%; 
    height: auto; 
    border: 0; 
}

@media (max-width: 768px) {
    .footer-links a {
        display: block;
        width: 100%;
        margin-bottom: 10px; 
    }
    .footer-links span {
        display: none;
    }
}

